*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0 50px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

h1{
    text-align: center;
    margin-bottom: 50px;
}

#container{
    display: flex;
    gap: 50px;
    flex-direction: row;
}

fieldset{
    width: 100%;
    height: 100%;
}

#left{
    background-color: skyblue;
}

#right{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


form{
    display: flex;
    flex-direction: column;
}

label{
    font-size: x-large;
}
textarea{
    resize: none;
    width: 400px;
}
#msg{
    color: red;
}
#btnsub{
    align-self: center;
    height: 30px;
    width: 120px;
}

.padbot{
    margin: 20px;
}
h3{
    margin: 20px auto;
}
#post div{
    margin: 20px 0;
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
    gap: 46px;

}

#post div p{
    max-width: 170px;
}


#icons{
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-between;
}

i{
    
    cursor: pointer;
}

#qwerty{
    background:#f5c8cb ;
}